:root {
    --main-color : #EE0A53;
    --second-color : #C97411;
    --third-color : #fff;
}

* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

/* div {
    outline: 1px solid red;
} */

.page-container {
    display: flex;
    height: 100%;
    background: linear-gradient(160deg, var(--main-color), var(--second-color));
}

.sidebar {
    background-color: rgba(0,0, 0, 0.3);
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    gap: 40px;
    color: var(--third-color);
    text-align: left;
    font-size: 1.3rem;
}

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 20%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-height: 20%;
}

.content {
    height: 80%;
    display: flex;
}

.project {
    flex-grow: 3;
}

.announce {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.announcement {
    flex-grow: 1;
}

.trending {
    flex-grow: 1;
}

.logo {
    display: flex;
    gap: 5px;
    font-size: 1.5rem;
    align-items: center;
}



.options {
    display: flex;
    gap: 5px;
    margin-top: 15px;
}

input {
    width: 50%;
    height: 55%;
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

img {
    width: 7vh;
    height: 7vh;
    border-radius: 25px;
    object-fit: cover;
}

.header-top {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search-bar {
    flex-grow: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.notification {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
    font-size: 1.5rem;
}

.header-bot {
    display: flex;
    gap: 50%;
    align-items: center;
}

span {
    font-size: 2rem;
    font-weight: bold;
}

.button-container {
    display: flex;
    gap: 10px;
}

.information {
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
}