:root {
    --main-color : #EE0A53;
    --second-color : #C97411;
    --third-color : #fff;
}

* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    /* background-color: red; */
    background: linear-gradient(160deg, var(--main-color), var(--second-color));
    height: 100vh;
    overflow: hidden;
}


/* div {
    outline: 1px solid white;
} */

.page-container {
    display: flex;
    height: 100%;
}

.sidebar-container {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 45px;
    color: var(--third-color);
    overflow: auto;
    background-color: rgba(0,0, 0, 0.3);
}

.sidebar-container::-webkit-scrollbar {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 5px;
}

.sidebar-options, .sidebar-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 5px;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header-container {
    min-height: 150px;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0,0, 0, 0.1);
    color: var(--third-color);
}  

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-top div {
    display: flex;
    align-items: center;
    gap: 20px;
}

input {
    width: 600px;
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.information {
    display: flex;
    gap: 25px;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
}   

.content-container {
    flex-grow: 1;
    display: flex;
    color: var(--third-color);
    overflow: auto;
}

.content-container::-webkit-scrollbar {
    display: none;
}

.project-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.maj {
    font-size: 1.4rem;
    margin: 10px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
    height: 90%;
    overflow-y: scroll;
}

.project-list::-webkit-scrollbar {
    display: none;
}

.project {
    width: 400px;
    height: fit-content;
    background-color: rgba(0,0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 15px;
    border-radius: 15px;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
}

.project-text {
    font-size: 0.9rem;

}

.announce-container {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;

}

.announcements-container {
    max-height: 50%;
    padding: 25px;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
}


.announce-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
}

.announce-list::-webkit-scrollbar {
    display: none;
} 

.announce {
    background-color: rgba(0,0, 0, 0.1);
    padding: 10px;
    border-radius: 15px;
}

.trending-container {
    max-height: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.trending-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(0,0, 0, 0.1);
    padding: 10px;
    border-radius: 15px;
}











img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

span {
    font-weight: bold;
    font-size: 1.3rem;
}

h2 {
    font-size: 1.3rem;
}