:root {
    --main-color : #EE0A53;
    --second-color : #C97411;
    --third-color : #fff;
}

* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    background: linear-gradient(160deg, var(--main-color), var(--second-color));
}

body {
    background: linear-gradient(160deg, var(--main-color), var(--second-color));
    height: 100vh;
    overflow: auto;
}


/* div {
    outline: 1px solid white;
} */

.page-container {
    display: flex;
    min-height: 100%;
}

.sidebar-container {
    background-color: rgba(0,0, 0, 0.3);
    padding: 25px;
    min-width: 260px;
    overflow: hidden;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    position: sticky;
    top: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--third-color);
    text-align: left;
    font-size: 1.3rem;
}

.logo {
    display: flex;
    gap: 5px;
    font-size: 1.5rem;
    align-items: center;
    width: 100%;
}

.options {
    display: flex;
    gap: 5px;
    margin-top: 15px;
}


.header {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 25px 40px;
    height: 180px;
    gap: 25px;
    justify-content: space-between;
}

.header-top {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 600px;
}

.notification {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

input {
    flex-grow: 2;
    height: 55%;
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.information {
    display: flex;
    gap: 25px;
    align-items: center;
}

span {
    font-weight: bold;
    font-size: 1.3rem;
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
} 


.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}


.project-container {
    width: 75%;
    height:450px ;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    overflow: auto;
    flex-shrink: 1;
}

.project {
    outline: 1px solid white;
    height: 200px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--third-color);
    padding: 15px;
    border-radius: 10px;
}

.project-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}

.project-announce {
    padding: 15px;
    color: var(--third-color);
    width: 100px;
}

.announce {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}
/* 
.announcement {
    flex-grow: 1;
}

.trending {
    flex-grow: 1;
} */








